<app-blank pageName="Üretim" [routes]="['Üretim']">
  <app-section sectionTitle="Üretim Listesi">
    <div class="form-group row">
      <div class="col-9">
        <button
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#createModal"
        >
          <i class="fa-solid fa-plus me-1"></i>
          Üretim Yap
        </button>
      </div>
      <div class="col-3">
        <input
          [(ngModel)]="search"
          type="search"
          class="form-control"
          placeholder="Aranacak değer giriniz"
        />
      </div>
    </div>
    <div class="form-group mt-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Tarih</th>
            <th>Depo Adı</th>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>İşlemler</th>
          </tr>
        </thead>
        <tbody>
          @for(production of productions | production: search; track
          production){
          <tr>
            <td>{{$index + 1}}</td>
            <td>{{production.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{production.product.name}}</td>
            <td>{{production.depot.name}}</td>
            <td>{{production.quantity}}</td>
            <td>
              <button
                (click)="deleteById(production)"
                class="btn btn-outline-danger btn-sm"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </app-section>
</app-blank>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Üretim Formu</h1>
        <button
          type="button"
          #createModalCloseBtn
          class="btn btn-outline-danger"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i class="fa-solid fa-x"></i>
        </button>
      </div>
      <form
        formValidate
        #createForm="ngForm"
        autocomplete="off"
        (ngSubmit)="create(createForm)"
      >
        <div class="modal-body">
          <div class="form-group">
            <label>Depo Adı</label>
            <select
              class="form-control"
              name="depotId"
              [(ngModel)]="createModel.depotId"
              required
            >
              @for(depot of depots; track depot){
              <option [value]="depot.id">{{depot.name}}</option>
              }
            </select>
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-2">
            <label>Ürün Adı</label>
            <select
              class="form-control"
              name="productId"
              [(ngModel)]="createModel.productId"
              required
            >
              @for(product of products; track product){
              <option [value]="product.id">{{product.name}}</option>
              }
            </select>
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-2">
            <label>Adet</label>
            <input
              type="text"
              name="quantity"
              class="form-control"
              [(ngModel)]="createModel.quantity"
              required
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark w-100">Kaydet</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
